[submodule "deps/volk"]
	path = deps/volk
	url = https://github.com/zeux/volk
[submodule "deps/VMA"]
	path = deps/VMA
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
[submodule "deps/magic_enum"]
	path = src/generator/deps/magic_enum
	url = https://github.com/Neargye/magic_enum
